@import './base/globals';
@import './components/components'; 
@import './layouts/nav'; 
@import './pages/signup'; 
@import './pages/inventory_select_accessory_type'; 
@import './pages/inventory_select_existing_accessory'; 

/*Global rulesets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $roboto;
    color: white; /*Color por defecto de los textos*/
}

html{
    background-color: white;
}

body{
    min-height: 100vh;
    max-width: 1440px;
    background-color: $background_color;
    margin: 0px auto;
    border-left: 1px solid $very_dark;
    border-right: 1px solid $very_dark;
}

main{
    margin-left: 200px;
    min-height: 100vh;
    padding: 16px 16px;
}

/*Clase para fijar el body cuando se abre el menú en mobile*/
.body--fixed{
    position: sticky; 
}

@import './mediaQueries'; 