/*Global components (USING BEM METODOLOGY)*/

/*Títulos*/
.title{
    color: $total_black;
    margin: 12px 0 16px 0;
    font-size: $x_lg;
    font-weight: bolder;

    &--center{
        text-align: center;
    }

    &--light{
        color: $total_white;
    }


}

.card__title{
    color: $total_black;
    font-size: $md;
    margin: 12px 0;

    &--light{
        color: $total_white;
    }

    &--soft{
        color: rgb(194, 194, 194);
    }
}

/*Botones*/
.btn{

    border: 1px solid transparent;
    padding: 0.4em 0.6em;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0;
    text-align: center;
    font-weight: bold;

    &--primary{
        background-color: $main_green;
        border: $main_green;
        transition: background-color 0.3s ease-in;

        &--transparent{
            background-color: transparent;
            border: 1px solid $main_green;
            color: $main_green;
        }

    }

    &--primary:hover{
        background-color: $main_green_bright;
    }

    &--card{
        font-weight: 300;
        padding: 0.6em 0.8em;
    }

    &--submit{
        padding: 0.8em 0.6em;
    }

    &--secondary{
        color: $main_green;
        background-color: transparent;
        border: 1px solid $main_green; 

        transition: background-color 0.4s ease-in-out;
    }

    &--secondary:hover{
        background-color: $main_green;
        color: white;
    }

    &--center{
        display: block;
        width: max-content;
        margin: 8px auto;
    }

    &--block{
        display: block; 
        width: 100%;
    }

    &--full-width{
        width: max-content;
    }

    &--no-radius{
        border-radius: 0;
    }

    &--extra-margin{
        margin: 16px auto;
    }
}

section{
    margin-top: 32px;
}

.section--no-top-margin{
    margin-top: 0;
}

/*Contenedor de cards responsive */
.cards_container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &--center-items{
        justify-content: center;
    }
}

.generic-card{
    width: 30%;
    max-width: 340px;
    min-width: 240px;
    
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    border: 1px solid #dfdfdf;

    transition: all 0.4s ease-in-out;

    &:hover{
        box-shadow: $card_hover 0 4px 16px;
        transform: scale(1.02);
    }
}

/*Formularios*/
.input-form{
    width: 90%;
    max-width: 420px;
    min-width: 240px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 16px;

    background-color: $total_white;
    border: 1px solid rgb(223, 223, 223);
    transition: all 0.3s ease-in-out;

    &:hover{
        box-shadow: $card_hover 0 4px 16px;
        transform: scale(1.01);
    }
}

label{
    color: $total_black;
    font-weight: 300;
    display: block;
    text-align: justify;
}

.form-group{
    margin: 24px 0; 
}

.form-group--correct input, 
.form-group--correct textarea, 
.form-group--correct select{
    outline: none;
    border: 2px solid rgb(0, 228, 0);
}

.form-group--correct label{
    color: rgb(0, 228, 0);
}

.form-group--incorrect input, 
.form-group--incorrect textarea, 
.form-group--incorrect select{
    outline: none;
    border: 2px solid rgb(255, 70, 70);
}

.form-group--incorrect label{
    color: rgb(255, 70, 70);
}

.input{
    background-color: rgb(233, 233, 233);
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    padding: 0.6em 0.2em;
    margin-top: 4px;
    color: $total_black; 

    &::placeholder{
        color: rgb(63, 63, 63);
    }

    &--full-width{
        width: 100%;
    }

    &--textarea{
        resize: none;
        height: 80px;
    }

    &--search{
        min-width: 240px;
        margin-right: 8px;
    }
}

/* option: menu desplegable */
.option {
    color: #303030;
    padding: 4px 0;
}

/*Error general del formulario*/
.form__error-message{
    background-color: #FF0000;
    text-align: justify;
    font-weight: lighter;
    padding: 8px;
    margin-bottom: 12px;

    /*Solo se muestra si hay un error*/
    display: none;
}

.form__error-message--active{
    display: block;
}

/*Error en un campo específico del formulario*/
.form-group__error-message{
    font-weight: lighter;
    color: red;
    text-align: justify;
    font-size: 14px;
    margin-top: 8px;

    /*Solo se muestran si hay un error*/
    display: none;   
}

.form-group__error-message--active{
    display: block;
}

/*MENSAJES DE ERROR*/


.alert {
    position: relative;
    background-color: transparent;
    padding: 32px 8px;
    margin: 12px 0;
    background-color: white;
    transition: all 0.4s ease;
    border: 2px solid;
    text-align: center;
}

.alert--ward {
    border-color: #dd2b1b;
    background-color: #e84c3d;
}

.alert--success {
    border-color: rgb(27, 201, 67);
    background-color: #2dcc70;
}

/* Mensajes laterales */

.aside-popup-container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 16;

    & :nth-child(1){
        margin: 0 0 4px auto;
    }
}

.popup{
    display: block;
    padding: 16px 4px;
    margin: 4px 0;
    background-color: transparent;
    border: 2px transparent;
    text-align: center;

    width: 30%;
    min-width: 240px;
    max-width: 460px;

    margin-left: auto;


    transition: all 0.4s ease;

    &--success{
        border-color: rgb(27, 201, 67);
        background-color: #2dcc70;
    }

    &--ward{
        border-color: #dd2b1b;
        background-color: #e84c3d;
    }

    & p{
        margin: 0px !important;
    }
}

/*CONTAINER PARA MOSTRAR TÍTULO E INPUT DE BÚSQUEDA EN EL TOP*/
.title-search-peer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*TABLA GENÉRICA*/
.generic-table{

    display: block;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap; 
    table-layout: fixed;
    margin-top: 8px;

    & th{
        color: black;
        padding: 12px 32px;

    }

    & th, & td{
        border: 1px solid #B1B1B1; 
    }

    & tbody tr:nth-child(odd){
        background-color: $odd_table_row_color;
    }
    
    & tbody tr:nth-child(even){
        background-color: $even_table_row_color;
    }

    & tbody th{
        font-family: Roboto-Thin;
        max-width: 370px;
        overflow-x: auto;
    }

}