#signup-conditions{
    font-weight: 300;
    text-align: justify;

    a{
        font-weight: bold;
        color: #0057FF;
    }
}

.form-group__check{
    display: flex; 
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.auth_redirect_message{
    text-align: center;
    font-weight: 300;
    margin: 24px 0 16px 0;  

    a{
        font-weight: bold;
        color: #0057FF;
    }
}