<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_globalHeaders.ejs') %>
        <title>ÓRDENES CLIENTE</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>
        <main>
            <%- include('../partials/_messages.ejs') %>
            <div class="title-search-peer">
                <h1 class="title title--black">ÓRDENES CLIENTE</h1>
            </div>
        </main>

        <%- include('../partials/_globalScripts.ejs') %>
    </body>
</html>