<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('partials/_globalHeaders.ejs') %>
        <title>SIGNUP</title>
    </head>
    <body>
        <%- include('partials/_navbar.ejs') %>

        <main>

            <header class="hero-services">

                <div class="hero-services__title-container">
                    <h1 class="title title--center">NUESTROS SERVICIOS</h1>
                </div>

                <section class="hero-services__services-container">
                    <article class="hero-services__service">
                        <h3>ACCESORIOS EXCLUSIVOS</h3>
                        <p>En nuestra tienda física y nuestra página web, podrás encontrar accesorios exlusivos y originales para las marcas premium A1 y A2.</p>
                    </article>

                    <article class="hero-services__service">
                        <h3>INSTALACIÓN</h3>
                        <p>Contamos con personal altamente capacitado para instalar tus accesorios.</p>
                    </article>

                    <article class="hero-services__service">
                        <h3>PRODUCTOS IMPORTADOS</h3>
                        <p>Importamos los productos de más alta calidad desde el exterios.</p>
                    </article>
                </section>

            </header>

        </main>

        <%- include('partials/_globalScripts.ejs') %>

    </body>
</html>
