<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('partials/_globalHeaders.ejs') %>
        <title>SIGNUP</title>
    </head>
    <body>
        <%- include('partials/_navbar.ejs') %>

        <main>
        
            <section class="select_accessory_type">
                <h1 class="title title--center">PRODUCTOS EN VENTA: </h1>
    
                <div class="cards_container cards_container--center-items">

                    <article class="accessory-basic-card">
                        <div class="accessory-basic-card__image">
                            <img src="/images/Rin_cromado_dorado_16in.jpg" alt="">
                        </div>
                        <div class="accessory-basic-card__body">
                            <h2 class="card__title">Rin cromado color dorado 16in</h2>
                            <p class="price"><span>Precio: </span> $180000</p>

                            <div class="accessory-basic-card__btns">
                                <a href="#" class="btn btn--primary btn--card btn--center">AÑADIR AL CARRITO</a>
                                <a href="#" class="btn btn--secondary btn--card btn--center">VER DETALLES</a>
                            </div>
                        </div>
                    </article>

                    <article class="accessory-basic-card">
                        <div class="accessory-basic-card__image">
                            <img src="/images/Rin_cromado_dorado_16in.jpg" alt="">
                        </div>
                        <div class="accessory-basic-card__body">
                            <h2 class="card__title">Rin cromado color dorado 16in</h2>
                            <p class="price"><span>Precio: </span> $180000</p>

                            <div class="accessory-basic-card__btns">
                                <a href="#" class="btn btn--primary btn--card btn--center">AÑADIR AL CARRITO</a>
                                <a href="#" class="btn btn--secondary btn--card btn--center">VER DETALLES</a>
                            </div>
                        </div>
                    </article>

                    <article class="accessory-basic-card">
                        <div class="accessory-basic-card__image">
                            <img src="/images/Rin_cromado_dorado_16in.jpg" alt="">
                        </div>
                        <div class="accessory-basic-card__body">
                            <h2 class="card__title">Rin cromado color dorado 16in</h2>
                            <p class="price"><span>Precio: </span> $180000</p>

                            <div class="accessory-basic-card__btns">
                                <a href="#" class="btn btn--primary btn--card btn--center">AÑADIR AL CARRITO</a>
                                <a href="#" class="btn btn--secondary btn--card btn--center">VER DETALLES</a>
                            </div>
                        </div>
                    </article>

                    <article class="accessory-basic-card">
                        <div class="accessory-basic-card__image">
                            <img src="/images/Rin_cromado_dorado_16in.jpg" alt="">
                        </div>
                        <div class="accessory-basic-card__body">
                            <h2 class="card__title">Rin cromado color dorado 16in</h2>
                            <p class="price"><span>Precio: </span> $180000</p>

                            <div class="accessory-basic-card__btns">
                                <a href="#" class="btn btn--primary btn--card btn--center">AÑADIR AL CARRITO</a>
                                <a href="#" class="btn btn--secondary btn--card btn--center">VER DETALLES</a>
                            </div>
                        </div>
                    </article>

                    <article class="accessory-basic-card">
                        <div class="accessory-basic-card__image">
                            <img src="/images/Rin_cromado_dorado_16in.jpg" alt="">
                        </div>
                        <div class="accessory-basic-card__body">
                            <h2 class="card__title">Rin cromado color dorado 16in</h2>
                            <p class="price"><span>Precio: </span> $180000</p>

                            <div class="accessory-basic-card__btns">
                                <a href="#" class="btn btn--primary btn--card btn--center">AÑADIR AL CARRITO</a>
                                <a href="#" class="btn btn--secondary btn--card btn--center">VER DETALLES</a>
                            </div>
                        </div>
                    </article>
    
                </div>
    
            </section>

        </main>

        <%- include('partials/_globalScripts.ejs') %>

    </body>
</html>
