
<% if(message != "") { %>
    <div class="alert alert--ward">
        <p class="alert__message"><%= message %></p>
    </div>
<% } %>

<% if(success != "") { %>
    <div class="alert alert--success">
        <p class="alert__message"><%= success %></p>
    </div>
<% } %>