<nav class="aside-navigation">
    <div class="top">
        <p class="brand" translate="no">WEARCAR</p>

        <ul class="navigation">
            <li class="navigation__item">
                <a href="#" class="navigation__link"><div class="navigation__icon"><i class="fas fa-plus-square"></i></div> Ver productos</a>
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"><div class="navigation__icon"><i class="fas fa-comment-alt"></i></div> Escríbenos</a>
            </li>
        </ul>
    </div>

    <div class="bottom">
        <a href="#" class="btn btn--primary btn--block btn--no-radius">Crear cuenta</a>
        <a href="#" class="btn btn--primary btn--block btn--no-radius">Inicial sesión</a>
    </div>
</nav>