<% if(user) {%>
<nav class="aside-navigation">
    <p class="brand" translate="no">WEARCAR</p>

    <div class="menu">
        <ul class="navigation">

            <div class="navigation__account">
                <div class="navigation__account__icon"><i class="fas fa-user-circle"></i></div>
                <p><%= user.nombre.split(' ')[0] %></p>
            </div>

            <% if(user.codigo_tipo_usuario == 1) { %>
            <li class="navigation__item">
                <a href="/accessories" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-plus-square"></i></div>
                    Ver productos</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-shopping-cart"></i></div>
                    Carrito de compras</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-briefcase"></i></div>
                    Mis órdenes de compra</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-comment-alt"></i></div>
                    Escríbenos</a
                >
            </li>
            <% } else if (user.codigo_tipo_usuario == 2){ %>
            <li class="navigation__item">
                <a href="/accessories" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-plus-square"></i></div>
                    Ver productos</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-shopping-cart"></i></div>
                    Carrito de compras</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-briefcase"></i></div>
                    Mis órdenes de compra</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-users"></i></div>
                    Consulta de clientes</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-th-list"></i></div>
                    Consulta de inventario</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-comment-alt"></i></div>
                    Escríbenos</a
                >
            </li>
            <% } else if (user.codigo_tipo_usuario == 3){ %>
            <li class="navigation__item">
                <a href="/accessories" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-plus-square"></i></div>
                    Ver productos</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-shopping-cart"></i></div>
                    Carrito de compras</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-briefcase"></i></div>
                    Órdenes de compra de los clientes</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-th-list"></i></div>
                    Consulta de inventario</a
                >
            </li>
            <% } else if (user.codigo_tipo_usuario == 4){ %>
            <li class="navigation__item">
                <a href="/accessories" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-plus-square"></i></div>
                    Ver productos</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-briefcase"></i></div>
                    Órdenes de los clientes</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-users"></i></div>
                    Consulta de clientes</a
                >
            </li>
            <li class="navigation__item">
                <a href="/admin/inventory" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-th-list"></i></div>
                    Gestión de accesorios</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-dollar-sign"></i></div>
                    Detalles financieros</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-users-cog"></i></div>
                    Gestión de cuentas internas</a
                >
            </li>
            <% } %>
        </ul>

        <div class="bottom">
            <a href="#" class="btn btn--primary btn--block btn--no-radius">Editar perfil</a>
            <a href="/logout" class="btn btn--primary btn--block btn--no-radius">Cerrar sesión</a>
        </div>
    </div>

    <div class="menu-toggle"><i class="fas fa-bars"></i></div>
</nav>
<% }else{ %>
<nav class="aside-navigation">
    <p class="brand" translate="no">WEARCAR</p>

    <div class="menu">
        <ul class="navigation">
            <li class="navigation__item">
                <a href="/accessories" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-plus-square"></i></div>
                    Ver productos</a
                >
            </li>
            <li class="navigation__item">
                <a href="#" class="navigation__link"
                    ><div class="navigation__icon"><i class="fas fa-comment-alt"></i></div>
                    Escríbenos</a
                >
            </li>
        </ul>

        <div class="bottom">
            <a href="/signup" class="btn btn--primary btn--block btn--no-radius">Crear cuenta</a>
            <a href="/login " class="btn btn--primary btn--block btn--no-radius">Iniciar sesión</a>
        </div>
    </div>

    <div class="menu-toggle"><i class="fas fa-bars"></i></div>
</nav>
<% } %>
