/* ######## Colors ########*/

/*Primary colors*/
$background_color: #fafafa; 

$main_green: hsl(173, 58%, 50%); 
$main_green_bright: #2ae0cb; 

$very_dark: #0d141c; 

/*Secondary colors*/
$bright_red: #E60118;
$odd_table_row_color: #ccd2db;  
$input_bg: #dcdcdc; 
$placeholder_color: #959595; 
$partial_grey: #22252C; 

$total_white: #fff; 
$total_black: #000; 

$card_hover: rgb(212, 212, 212); 

/* ######## Font families ########*/
$roboto: 'Roboto', sans-serif, arial; 

/*######## Font sizes ########*/
$x_sm: 14px; 
$sm: 16px; 
$md: 18px; 
$lg: 22px; 
$x_lg: 32px; 
$giant: 42px;