<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/_globalHeaders.ejs') %>
    <title>AGREGAR INVENTARIO</title>
</head>
<body>

    <%- include('../partials/_navbar.ejs') %>

    <main>
        
        <section class="select_accessory_type">
            <h1 class="title title--center">AGREGAR INVENTARIO PARA: </h1>

            <div class="cards_container cards_container--center-items">
                
                <article class="accessory_type_card">
                    <div class="accessory_type_card__image">
                        <img src="/images/inventory_existing_accessory.jpg" alt="">
                    </div>
                    <div class="accessory_type_card__body">
                        <a href="#" class="btn btn--primary btn--center">ACCESORIO EXISTENTE</a>
                    </div>
                </article>

                <article class="accessory_type_card">
                    <div class="accessory_type_card__image">
                        <img src="/images/inventory_new_accessory.jpg" alt="">
                    </div>
                    <div class="accessory_type_card__body">
                        <a href="#" class="btn btn--primary btn--center">ACCESORIO NUEVO</a>
                    </div>
                </article>

            </div>

        </section>

    </main>
    
    <%- include('../partials/_globalScripts.ejs') %>

</body>
</html>