<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_globalHeaders.ejs') %>
        <title>Detalles del accesorio</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <main>
            <form action="" method="post" class="input-form" id="signup-form">
                <%- include('../partials/_messages.ejs') %>

                <h1 class="title title--center">Editar producto existente</h1>

                <div class="form-group" id="name-group">
                    <label class="label--block" for="name">Nombre del producto:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ingresa el nombre del nuevo accesorio"
                            value="NOMBRE DEL PRODUCTO TRAÍDO DESDE LA BD"
                            readonly
                        />
                    </div>
                </div>
                <div class="form-group" id="description-group">
                    <label class="label--block" for="description">Descripción del producto:</label>
                    <div class="form-group__input">
                        <textarea
                            class="input input--textarea input--full-width"
                            name="description"
                            id="description"
                            placeholder="Ingresa los detalles del nuevo accesorio."
                            wrap="soft"
                            readonly
                        >DESCRIPTCIÓN DEL PRODUCTO TRAÍDA DESDE LA BASE DE DATOS</textarea>
                    </div>
                </div>

                <div class="form-group" id="price-group">
                    <label class="label--block" for="price">Precio del accesorio:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="price"
                            name="price"
                            placeholder="Precio base del accesorio"
                            value=""
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group" id="inventory-group">
                    <label class="label--block" for="inventory">Inventario actual del accesorio: </label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="inventory"
                            name="inventory"
                            placeholder="Inventario actual del accesorio"
                            value=""
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group" id="inventory-group">
                    <label class="label--block" for="new-ammount">Número de unidades unidades: </label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="new-ammount"
                            name="new-ammount"
                            min="0"
                            placeholder="unidades para agregar al inventario" 
                        />
                    </div>
                </div>

                <p class="form__error-message">
                    Por favor, rellene el formulario correctamente antes de realizar el envío.
                </p>

                <input
                    type="submit"
                    value="NUMERO DE UNIDADES EN EL INVENTARIO"
                    class="btn btn--submit btn--primary btn--block btn--no-radius"
                />
            </form>
        </main>
        <%- include('../partials/_globalScripts.ejs') %>
    </body>
</html>
