<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_globalHeaders.ejs') %>
        <title>AGREGAR NUEVO ACCESORIO</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <main>
            
            <form action="/signup" method="post" class="input-form" id="signup-form">
                <%- include('../partials/_messages.ejs') %>

                <h1 class="title title--center">AGREGAR NUEVO PRODUCTO</h1>

                <div class="form-group" id="name-group">
                    <label class="label--block" for="name">Nombre del producto:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ingresa el nombre del nuevo accesorio"
                        />
                        <p class="form-group__error-message">MENSAJE DE ERROR</p>
                    </div>
                </div>

                <div class="form-group" id="description-group">
                    <label class="label--block" for="description">Descripción del producto:</label>
                    <div class="form-group__input">
                        <textarea
                            class="input input--textarea input--full-width"
                            name="description"
                            id="description"
                            placeholder="Ingresa los detalles del nuevo accesorio."
                            wrap="soft"
                        ></textarea>
                        <p class="form-group__error-message">MENSAJE DE ERROR</p>
                    </div>
                </div>

                <div class="form-group" id="buy-price-group">
                    <label class="label--block" for="buy-price">Precio de compra a proveedores:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="buy-price"
                            name="buy-price"
                            placeholder="Precio de compra a proveedores"
                        />
                        <p class="form-group__error-message">MENSAJE DE ERROR</p>
                    </div>
                </div>

                <div class="form-group" id="sell-price-group">
                    <label class="label--block" for="sell-price">Precio de venta del accesorio:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="sell-price"
                            name="sell-price"
                            placeholder="Precio de venta a clientes"
                        />
                        <p class="form-group__error-message">MENSAJE DE ERROR</p>
                    </div>
                </div>

                <div class="form-group" id="discount-group">
                    <label class="label--block" for="discount">Descuento del accesorio: </label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="discount"
                            name="discount"
                            placeholder="Descuento del accesorio"
                        />
                        <p class="form-group__error-message">MENSAJE DE ERROR</p>
                    </div>
                </div>

                <div class="form-group" id="inventory-group">
                    <label class="label--block" for="inventory">Inventario del accesorio: </label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="inventory"
                            name="inventory"
                            placeholder="Inventario inicial del accesorio"
                        />
                        <p class="form-group__error-message">MENSAJE DE ERROR</p>
                    </div>
                </div>

                <p class="form__error-message">
                    Por favor, rellene el formulario correctamente antes de realizar el envío.
                </p>

                <input
                    type="submit"
                    value="AGREGAR ACCESORIO"
                    class="btn btn--submit btn--primary btn--block btn--no-radius"
                />
            </form>
        </main>

        <%- include('../partials/_globalScripts.ejs') %>
    </body>
</html>
