<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/_globalHeaders.ejs') %>
    <title>MENSAJES AL ADMIN</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <main>
        <div class="title-search-peer">
            <h1 class="title titlle--black">MENSAJES AL ADMIN</h1>
        </div>

        <table class="generic-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                    <th>Mensaje enviado</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Nombre</th>
                    <th>Correo electrónico</th>
                    <th>Mensajes</th>
                    <th>Boton que no he puesto</th>
                </tr>
            </tbody>
        </table>


    </main>
    
    



    <%- include('../partials/_globalScripts.ejs') %>
</body>
</html>