<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap"
            rel="stylesheet"
        />
        <title>CREACIÓN CUENTA INTERNA</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <main>
            <form action="/admin/create_account" method="post" class="input-form" id="signup-form">

                <%- include('../partials/_messages.ejs') %>

                <h1 class="title title--center">CREACIÓN DE CUENTA INTERNA</h1>

                <div class="form-group" id="name-group">
                    <label class="label--block" for="name">Nombre:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ingresa tu nombre completo"
                        />
                        <p class="form-group__error-message">El nombre solo puede contener letras.</p>
                    </div>
                </div>

                <div class="form-group" id="documento-group">
                    <label class="label--block" for="documento">Número de documento:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="documento"
                            name="documento"
                            placeholder="Ingresa tu documento"
                        />
                        <p class="form-group__error-message">El número de documento solo puede tener números y debe tener de 6 a 14 números.</p>
                    </div>
                </div>

                <div class="form-group" id="email-group">
                    <label class="label--block" for="email">Correo electrónico (Nombre de usuario):</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="ejemplo@dominio.com"
                        />

                        <p class="form-group__error-message">Correo inválido. El correo electrónico debe ser de la forma nombre@dominio.com</p>
                    </div>
                </div>

                <div class="form-group" id="phone-group">
                    <label class="label--block" for="phone">Número de celular:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="phone"
                            name="phone"
                            placeholder="Ingresa tu número de celular"
                        />

                        <p class="form-group__error-message">El número de celular solo puede contener números y debe ser de 7 dígitos en caso de teléfono fijo y 10 en caso de teléfono celular</p>
                    </div>
                </div>

                <div class="form-group" id="address-group">
                    <label class="label--block" for="address">Dirección:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="address"
                            name="address"
                            placeholder="Ingresa tu dirección"
                        />

                        <p class="form-group__error-message">La dirección no puede contener los siguientes caracteres: | ° ! $ % & / = * < > { } +</p>
                    </div>
                </div>

                <div class="form-group" id="password-group">
                    <label class="label--block" for="password">Contraseña:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="********"
                        />

                        <p class="form-group__error-message">La contraseña debe contener mínimo 8 caracteres y debe incluír un número y uno de los siguientes caracteres especiales: $ ! % * # ? & /</p>
                    </div>
                </div>

                <div class="form-group" id="rol-group">
                    <label class="label--block" for="rol">Rol:</label>
                    <div class="form-group__input">
                        <select class="input input--full-width" required name="rol">
                            <option hidden disabled selected value> -- Seleccione un rol -- </option>
                            <option class="option" value="1">Cliente</option>
                            <option class="option" value="2">Socio</option>
                            <option class="option" value="3">Trabajador</option>
                            <option class="option" value="4">Administrador</option>
                          </select>
                        <p class="form-group__error-message"> </p>
                    </div>
                </div>
                <!--PENDINTE LA CONDICIÓN PARA QUE ESTO SE CUMPLA-->
                <p class="form__error-message">Por favor, rellene el formulario correctamente antes de realizar el envío.</p>

                <input type="submit" value="CREAR CUENTA" class="btn btn--submit btn--primary btn--block btn--no-radius" />

            </form>
        </main>

        <script src="/scripts/signup_validate.js"></script>
        <%- include('../partials/_globalScripts.ejs') %>

    </body>
</html>
