<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/_globalHeaders.ejs') %>
        <title>CREACIÓN DE CUENTA PERSONAS</title>
    </head>
    <body>
        <%- include('../partials/_navbar.ejs') %>

        <main>

            <%- include('../partials/_messages.ejs') %>

            <form action="/signup" method="post" class="input-form" id="signup-form" data-form="signup_user">

                <h1 class="title title--center">CREACIÓN DE CUENTA</h1>

                <div class="form-group" id="name-group">
                    <label class="label--block" for="name">Nombre Completo</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="name"
                            name="name"
                            placeholder="Ingresa tu nombre completo"
                            data-form="signup_user"
                        />
                        <p class="form-group__error-message">El nombre solo puede contener letras y debe contener de 5 a 65 caracteres.</p>
                    </div>
                </div>

                <div class="form-group" id="documento-group">
                    <label class="label--block" for="documento">Número de documento:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="documento"
                            name="documento"
                            placeholder="Ingresa tu documento"
                            min="0"
                            data-form="signup_user"
                        />
                        <p class="form-group__error-message">El número de documento solo puede tener números y debe tener de 6 a 14 números.</p>
                    </div>
                </div>

                <div class="form-group" id="email-group">
                    <label class="label--block" for="email">Correo electrónico (Nombre de usuario):</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="email"
                            id="email"
                            name="email"
                            placeholder="ejemplo@dominio.com"
                            data-form="signup_user"
                        />

                        <p class="form-group__error-message">Correo inválido. El correo electrónico debe ser de la forma nombre@dominio.com</p>
                    </div>
                </div>

                <div class="form-group" id="phone-group">
                    <label class="label--block" for="phone">Número de celular o teléfono fijo:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="number"
                            id="phone"
                            name="phone"
                            min="0"
                            placeholder="Ingresa tu número de celular"
                            data-form="signup_user"
                        />

                        <p class="form-group__error-message">El número de celular solo puede contener números y debe ser de 7 dígitos en caso de teléfono fijo y 10 en caso de teléfono celular</p>
                    </div>
                </div>

                <div class="form-group" id="address-group">
                    <label class="label--block" for="address">Dirección:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="text"
                            id="address"
                            name="address"
                            placeholder="Ingresa tu dirección"
                            data-form="signup_user"
                        />

                        <p class="form-group__error-message">La dirección debe tener de 15 a 100 caracteres.</p>
                    </div>
                </div>

                <div class="form-group" id="password-group">
                    <label class="label--block" for="password">Contraseña:</label>
                    <div class="form-group__input">
                        <input
                            class="input input--full-width"
                            type="password"
                            id="password"
                            name="password"
                            placeholder="********"
                            data-form="signup_user"
                        />

                        <p class="form-group__error-message">La contraseña debe contener mínimo 8 caracteres y debe incluír un número y uno de los siguientes caracteres especiales: $ ! % * # ? & /</p>
                    </div>
                </div>

                <div class="form-group" id="">
                    <div class="form-group__check">
                        <input type="checkbox" name="conditions" id="conditions" checked/>
                        <label for="conditions" id="signup-conditions">
                            Acepto las
                            <a href="/docs/ManualDeProteccionDatos-2022-10.pdf"
                            target="_blank" rel="noopener noreferrer"
                                >políticas de seguridad y tratamiento de datos personales de la empresa.</a
                            >
                        </label>
                    </div>
                </div>

                <p class="form__error-message">Por favor, rellene el formulario correctamente antes de realizar el envío.</p>

                <input type="submit" value="CREAR CUENTA" class="btn btn--submit btn--primary btn--block btn--no-radius" />
            
                <p class="auth_redirect_message">¿No es una persona natural? <a href="/signupBusiness">Crea una cuenta para empresas.</a></p>
                <p class="auth_redirect_message">¿Ya tienes una cuenta? <a href="/login">Inicia sesión ahora.</a></p>

            </form>
        </main>

        <script src="/scripts/validations/validate_global.js"></script>
        <%- include('../partials/_globalScripts.ejs') %>

    </body>
</html>
